body {
  background-color: pink;
  max-width: 960px;
  margin: 0 auto;

}

header{
  background-color: gray;
  border: 3px solid #f9423a;
  /*padding is for space betweeen content and border */
  padding: 30px;

  margin: 50px;
  height: 400px;
  width: 400px;
}
main {
  height: 100%;
  width: 100%

}
.wed { background-color: yellow;

}
footer{
  background-color: green;
  border: 5px solid yellow;
  margin: 20px;
  height: 35px;
}
