@media only screen and (max-width:767px) {
/*what goes here? */
/* put in here the CSS for things that need to change at this size. */

body {background-color: pink;
  }
  .grid1-container, .grid-container-1{
grid-template-columns: 150px;
grid-template-row: repeat(4,150px);

  }
  .grid1-img-1,.g1-img-1{
    grid-column: 1/2;
    grid-row: auto;

  }
  .grid1-img-2,.g2-img-2{
    grid-column: auto;
    grid-row: auto;
}
.grid1-img-1,.g1-img-1{
  grid-column: 2/3;
  grid-row: auto;
}
}
