body {
  max-width: 900px;
  margin: 0 auto;
  background-color: green;
  font-family: sans-serif;
  color: white;}

  nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
strong { color: white;}
div.menu-bar li:hover > ul {
  display: block;
}
