body {
  max-width: 900px;
  margin: 0 auto;
  background-color: green;
  font-family: sans-serif;
  color: white;}

  nav a {
  color: orange;
  text-decoration: overline;
  margin-right: 20px;
  font-family:cursive;
  font-size: 20px;
}
h1{
  font-size: 25px;
  color: yellow;
  font-family: fantasy;
}

h2{
  font-size: 20px;
  color: pink;
  text-decoration: underline;
}
h3{
  font-size: 18px;
  color: #bada55;
}
strong { color: white;}
div.menu-bar li:hover > ul {
  display: block;
}

$("#myDiv").fadeOut(1000);
